html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  width: 100vw;
}
.container {
  /*height: 100%;*/
  /*width: 100vw;*/
  /*position: relative;*/
}

.row.no-gutter {
  margin-right:0;
  margin-left:0;
}

.row.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
    margin-right:0;
    margin-left:0;
}

#map {
  /*bottom:0px;*/
  height: 95vh;
  /*position: absolute;*/
  /*right: 0px;*/
  z-index: 0;
}

#places-section {
  background-color: #ffffcc;
}

#places-list {
  list-style: none;
  height: 95vh;
  width: 100%;
  padding-top: 10px;
}

#places-details {
  text-align: center;
  margin: auto;
}

#pano {
  width: 150px;
  height: 150px;
  text-align: center;
  margin: auto;
}
